---

# Variables
stub : "contact"

---

-# Bootstrap Container
.container

    -# Bootstrap row
    .row

        -# Bootstrap column
        .col-md-12

            -# Heading - H1
            = partial "./molecule/heading/heading", locals: { text: :"contact.heading.text" }

            -# Tiny image
            = partial "./atom/image/image", locals: { alt: "Cow", extraClass: "img-responsive", src: "carousel/cow-tiny.jpg", size: [ 1140, 100 ] }

    -# Bootstrap row
    .row

        %hr

        -# Bootstrap column
        .col-md-6

            -# Heading - H2
            = partial "./molecule/heading/heading", locals: { extraClass: "heading--noMargin", tag: "h2", text: "Established" }

            %p
                You can contact us using the form to the right, or send an email to:
                %a{ href: "mailto:info@ariconium.co.uk" }
                    info@ariconium.co.uk

            %p
                We will do our best to respond to your query ASAP.

        -# Bootstrap column
        .col-md-6

            -# Heading - H2
            = partial "./molecule/heading/heading", locals: { extraClass: "heading--noMargin", tag: "h2", text: "Contact Form" }

            %p

            -# Form
            %form.contactForm{ action: dataFormSpree.action, method: "POST", novalidate: true }

                -# Name Input
                = partial "./atom/input/input",
                           locals: { input: { name:        "name",
                                              placeholder: "Enter full name" },
                                     label: { title: "Full name (required)" } }

                -# Mobile Number Input
                = partial "./atom/input/input",
                           locals: { input: { name:        "mobile",
                                              placeholder: "Enter mobile",
                                              type:        "tel" },
                                     label: { title: "Mobile" } }

                -# Email Input
                = partial "./atom/input/input",
                           locals: { input: { name:        "_replyto",
                                              placeholder: "Enter email address",
                                              type:        "email" },
                                     label: { title: "Email (required)" } }

                -# Message Textarea
                = partial "./atom/textarea/textarea",
                           locals: { label:       { title: "Message" },
                                     name:        "message",
                                     placeholder: "Enter message",
                                     rows:        "5" }

                -# Hidden Next Input
                = partial "./atom/input/input",
                           locals: { input: { name:  "_next",
                                              value: dataFormSpree.next,
                                              type:  "hidden" },
                                     label: { extraClass: "sr-only", title: "next" } }

                -# Submit Button
                = partial "./atom/button/button",
                           locals: { context: "primary",
                                     text:    "Send" }

            %p